header{
    display: flex;
    width: 1030px;
    margin: auto;
    height: 300px;
    justify-content: center;
}

@media(max-width:600px) {
    header{
        width: 88%;
        flex-direction: column;
        padding: 2px;
        /* height: 20%; */
        margin: 19px;
        display: flex;
    }
}

main{
    display: flex;
    justify-content: center;
    margin: 49px 60px;
}
.hide{
    Display:none;
    }

#encabezado{
    background-image: url(./Imagenes/pokedata.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 203%;
    background-position: center;
    margin: 30px 0px 0px 98px;
    padding: 71px;
    justify-content: center;
    }
@media(max-width:600px) {
        #encabezado{
            background-image: url(./Imagenes/pokedata.png);
            background-repeat: no-repeat;
            width: 126%;
            height: 122%;
            }
        }

#pokebola{
        background-image: url(./Imagenes/pokebola.png);
        background-repeat: no-repeat;
        width: 59%;
        background-size: contain;
        background-position: center;
        margin: 19px 0px 0px 22px;
        align-content: center;
        justify-content: flex-end;
    }
@media(max-width:600px) {
        #pokebola{
            background-image: url(./Imagenes/pokebola.png);
            background-repeat: no-repeat;
    background-size: contain;
    width: 124%;
    height: 75%;
    background-position: center;
        }
        }

    #login{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        color: #000000;
        font-size: 25px;
        width: 390px;
        height: 531px;
        flex-direction: column;
    }
    @media(max-width:600px) {
    #login{
        flex-flow: column;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        color: #000000;
        font-size: 22px;
        display: flex;
        /* align-content: space-between; */
        /* justify-content: space-around; */
        width: 103%;
        height: 98%;
        }
    }


    body{
        background-image: url(./Imagenes/Fondo.png);
        background-image: url(./Imagenes/Fondo.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
      @media screen and (max-width:600px) {
        body{
            background-image: url(./Imagenes/Fondo.png);
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            flex-flow: column;
            align-items: center;
            margin: auto;
            height: 117vh;
            width: 100%;
          }
        }


        form{
            display: flex;
            font-family: Open Sans;
            flex-direction: column;
            width: 123%;
            height: 78%;
        }
        @media (max-width: 600px){
            form {
                display: flex;
                font-family: Open Sans;
                flex-direction: column;
                justify-content: space-between;
                width: 137%;
                height: 87%;
    }
        }
   
    input{
        border-radius: 2px;
        line-height: 44px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        color: #000000;
        font-size: 24px;
        display: flex;
        height: 64px;
        margin: 11px 0;
 }


 #btn-ingresar{
    background: #ffcc03;
    border-color: #3897F0;
    border-radius: 5px;
    font-family: Open Sans;
    font-weight: 800;
    font-size: 23px;
    color: v#3897F0;
    justify-content: space-around;
    display: flex;
    padding: 3px;
    margin: -2px;
    width: 101%;
    height: 18%;
 }
 
 #pikachu{
    background-image: url(./Imagenes/pikachu.gif);
    background-repeat: no-repeat;
    padding: 47px 0px;
    background-size: contain;
    background-position: center;
    width: 124%;
    height: 26%;
}
@media screen and (max-width:600px) {
    #pikachu{
        background-image: url(./Imagenes/pikachu.gif);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 136%;
        height: 6%;
    }
    }

 #resultado{
 font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    color: black;
    /* text-align: center; */
    font-size: 22px;
    display: flex;
    width: 100%;
    justify-content: center;
    }



    .navegacion{
        width: 1675px;
        background: red;
        height: 56px;
        justify-content: flex-start;
    }
    .navegacion ul{
        list-style:none;
    }
    
    .menu li{
        display: inline-block;
    }
    
    .menu li a{
        display: block;
        padding: 15px 20px;
        color: rgb(255, 255, 255);
        font-weight: 800;
        font-size: 30px;
    }
    
    .menu li a:hover{
        color: rgb(116, 68, 6);
        transition: all, 3s;
    }
    
    .submenu{
        position: absolute;
        background: rgb(84, 4, 158);
        width: 7%;
        visibility: hidden;
        opacity:0;
        transition: opacity 1.5s;
    }
    
    .submenu li a{
        display: block;
        padding: 15px;
        color: darkorange;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: none;
    }
    
    .menu li:hover .submenu{
        visibility: visible;
        opacity:1;
    }

    #contain-vista1{
        display: flex;
    }


    .poke{
    border: red;
    display:inline-block

    }

    footer{
        display: flex;
        width: 1000px;
        height: 100px;
    }